#one1{
    height: 20;
            width: 20; 
}
#one2{
    height: 20;
    width: 20;
}
#one3{
    height: 20;
    width: 20;
}
#two1{
    height: 20;
    width: 20;
}
#two2{
    height: 20;
    width: 20;
}
#two3{
    height: 20;
    width: 20;
}
#three1{
    height: 20;
    width: 20;
}
#three2{
    height: 20;
    width: 20;
}
#three3{
    height: 20;
    width: 20;
}
#tad1{
    height:30px;
    width: 400px;
    padding: 2px;  
}
#tad2{
    height: 400px;
    width: 400px;
    padding: 2px;  
}
#bold{
    margin-left: 80vh;
}
#btn{
    margin-left: 60vh;  
}